  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  .app-container{
    background-color: rgb(0, 0, 0);
  }
  
  h1{
    margin-left: 20px;
    color: blue;
  }

  .input-box{
    width: 70px;
  }

  

  .grid-input-area{
    border-style: none;
    display: flex;
    gap: 10px;
    height: 50px;
    font-size: 17px;
    align-items: center;
    background-color: rgb(189, 191, 191);
    margin-bottom: 30px;
  }

  

  .grid-input-area > input{
    height: 25px;
    border-radius: 5px;
  }

  .grid-input-area > button{
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
  }

  div{
    border-width: 2px;
    border-style: solid;
    margin: 5px 5px;
    padding: 5px 5px;
  }

  .app-container > div{
    border-radius: 15px;
  }



  .grid-maze{
    display: grid;
    grid-template-columns: minmax(0, 100px) minmax(0, 100px) minmax(0, 100px); 
    grid-template-rows: 100px 100px 100px ; 
    padding: 0px;
    width: fit-content;
  }
  .grid-maze-container{
    margin-bottom: 30px;
    background-color: rgb(217, 217, 217);
    border-style: none;
    border-radius: 10px;
  }
  .grid-maze-cell{
    margin: 0px;
    background-color: rgb(225, 185, 185);
    transition: background-color 0.3s ease-in-out;
  }

  .start-simulation-button{
    margin-left: 20px;
    cursor: pointer;
  }

  .select-start-and-destination-area-input-container{
    border-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px ;
    background-color: rgb(189, 191, 191);
    border-radius: 10px;
  }

  .adventerur-div{
    border-style: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(227, 232, 237);
  }

  .adventerur-div > div{
    border-style: none;
  }

  .adventerur-div > div> input{
    height: 20px;
     border-radius: 5px;
  }

  .adventerur-div > div> button{
    height: 26px;
    margin-left: 30px;
    border-radius: 5px;
    cursor: pointer;
  }

  .destination-div{
    border-style: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(227, 232, 237);
  }

  .destination-div > div{
    border-style: none;
  }

  .path-found-message-container{
    border: none;
  }

  .destination-div > div> input{
    height: 20px;
     border-radius: 5px;
  }

  .destination-div > div> button{
    height: 26px;
    margin-left: 30px;
    border-radius: 5px;
    cursor: pointer;
  }

  .start-simulation-button{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-style: none;
    background-color: rgb(245, 244, 230);
    color: blue;
    height: 40px;
    width: 170px;

  }


  .stone-block{
    background-color: black;
  }

  .adventerur-block{
    background-color: red;
  }

  .destination-block{
    background-color: yellow;
  }

  .visited-mark{
    background-color: brown;
  }

  .path-maker{
    background-color: green;
  }
  
  .found-message-style{
    border-style: none;
    background-color: rgb(243, 248, 204);
    font-size: 23px;
  }

  .found-message{
    color: green;
  }

  .not-found-message{
    color:red;
  }