  body{
    display: flex;
    font-family: Quicksand;
    background-color: rgb(235, 235, 235);
    justify-content: center;
  }
  .app-container{
    background-color: rgb(192, 186, 186);
    border-radius: 5px;
    box-shadow: 7px 7px 10px rgb(125, 117, 117);
    padding: 20px 20px;
  }
  
  h1{
    margin-left: 20px;
    color: rgb(77, 77, 255);
    text-align: center;
    text-shadow: 0.8px 0.8px rgb(125, 117, 117);
  }

  .input-box{
    width: 70px;
  }

  

  .grid-input-area{
    border-style: none;
    display: flex;
    gap: 10px;
    height: 50px;
    font-size: 17px;
    align-items: center;
    background-color: rgb(189, 191, 191);
    margin-bottom: 30px;
    box-shadow: 3px 3px 10px rgb(125, 117, 117);
  }

  

  .grid-input-area > input{
    height: 25px;
    border-radius: 5px;
  }

  .grid-input-area > label{
    font-family: Quicksand;
    font-weight: 500;
  }

  .grid-input-area > button{
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
  }

  .generate-grid-maze-button{
    border-style: none;
    font-family: Quicksand;
    font-weight: bold;
    color: rgb(52, 49, 49);
    transition: background-color 0.3s;
    box-shadow: 2px 2px 2px rgb(125, 117, 117);
    margin-right: 30px;
  }

  .generate-grid-maze-button:hover{
    background-color: rgb(70, 188, 228);
    color: rgb(255, 255, 255);
  }

  .generate-grid-maze-button:active{
    height: 35px;
    width: 150px;
    background-color: rgb(16, 40, 48);
  }

  div{
    border-width: 2px;
    margin: 5px 5px;
    padding: 5px 5px;
  }

  .app-container > div{
    border-radius: 15px;
  }



  .grid-maze{
    display: grid;
    grid-template-columns: minmax(0, 100px) minmax(0, 100px) minmax(0, 100px); 
    grid-template-rows: 100px 100px 100px ; 
    padding: 0px;
    width: fit-content;
    border-style: solid;
  }
  .grid-maze-container{
    margin-bottom: 30px;
    background-color: rgb(217, 217, 217);
    border-style: none;
    border-radius: 10px;
    border-style: solid;
  }
  .grid-maze-cell{
    border-style:solid;
    border-width: 1px;
    margin: 0px;
    background-color: rgb(225, 185, 185);
    transition: background-color 0.3s ease-in-out;
  }

  .select-start-and-destination-area-input-container{
    border-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px ;
    background-color: rgb(189, 191, 191);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(125, 117, 117);
  }

  .adventerur-div{
    border-style: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(227, 232, 237);
    box-shadow: 3px 3px 10px rgb(125, 117, 117); ;
  }

  .adventerur-div > div{
    border-style: none;
  }

  .adventerur-div > div> input{
    height: 20px;
     border-radius: 5px;
  }

  .adventerur-div > div> button{
    height: 26px;
    margin-left: 30px;
    border-radius: 5px;
    cursor: pointer;
  }

  .destination-div{
    border-style: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(227, 232, 237);
    box-shadow: 3px 3px 10px rgb(125, 117, 117);
  }

  .destination-div > div{
    border-style: none;
  }

  .path-found-message-container{
    border: none;
  }

  .destination-div > div> input{
    height: 20px;
     border-radius: 5px;
  }

  .destination-div > div> button{
    height: 26px;
    margin-left: 30px;
    border-radius: 5px;
    cursor: pointer;
  }

  .start-simulation-button{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    border-style: none;
    background-color: rgb(245, 244, 230);
    color: blue;
    height: 40px;
    width: 170px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(125, 117, 117);
  }

  .start-simulation-button:hover{
    background-color: blue;
    color:rgb(245, 244, 230);
  }

  .start-simulation-button:active{
    height:50px;
    width: 180px;
    background-color: rgb(1, 1, 79);
  }


  .stone-block{
    background-color: black;
  }

  .adventerur-block{
    background-color: red;
  }

  .destination-block{
    background-color: yellow;
  }

  .visited-mark{
    background-color: brown;
  }

  .path-maker{
    background-color: green;
  }
  
  .found-message-style{
    border-style: none;
    background-color: rgb(243, 248, 204);
    font-size: 23px;
  }

  .found-message{
    color: green;
  }

  .not-found-message{
    color:red;
  }